/build
Makefile
/test/pstsdk_test
/test/leah_thumper.jpg
*~
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.vcxproj*
Debug
Release
/ipch
/pstsdk.opensdf
/pstsdk.sdf
/pstsdk.sln
/pstsdk.suo
Testing
CTestTestfile.cmake
